@charset "UTF-8";

form{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #83e1ad;
    border-radius: 0px 0px 10px 10px;
    padding-left: 30px;
}
#title{
    width: 713px;
    height: 40px;
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor1));
}
div#title > h3{
    color: white;
    padding: 8px;
    text-align: center;
}

select{
    border: none;
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 1px 3px black;
}
input{
    height: 30px;
    border: none;
    margin: 15px;
    padding: 5px;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
}
textarea{
    border: none;
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    margin: 15px;
}
input#id_end{
    width: 400px;
}

input#num{
    width: 70px;
    
}
input#numAluguel{
    width: 100px;
    height: 30px;
}
input#numIptu{
    width: 100px;
    height: 30px;
}
input#numCond{
    width: 100px;
    height: 30px;
}

select{
    height: 40px;
    border: none;
    margin: 15px;
    padding: 5px;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
}

button#btnEnviar{
    position: relative;
    left: 250px;
    margin-top: 20px;
    background-color: #2fa866;
    height: 40px;
    width: 200px;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    border-radius: 5px;
}