@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serfi;
    --fonte-destaque: 'Bebas Neue', cursive;
}

th#i{
    width: 40px;
}
th {
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
}

/*      TABELA DE IMÓVEIS       */

table{
    border-collapse: collapse;
    background-color: white;
}
table#tab1{
    margin: auto;
    position: relative;
    padding-top: 100px;
}
table#tab2{
    margin: auto;
    position: relative;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.664);
    padding-top: 100px;
}


thead{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor1));
    color: white;
    height: 40px;
}

tr.dados:hover{
    background-color: var(--cor1);
    color: white;
}

tr.titulo:nth-child(odd){
    background-color: rgba(60, 66, 60, 0.13);
}

tr.dados:nth-child(odd):hover{
    background-color: var(--cor1);
}

tr.dados > td.end{
    text-align: left;
    width: 487px;
    height: 40px;
    padding-left: 10px;
}
tr > td > abbr > img{
    width: 16px;
    height: 16px;
    padding-right: 18px;
    padding-left: 18px;
}
tr.dados > td.valor{
    padding-right: 4px;
    text-align: right;
    width: 70px;
    height: 25px;
}
