@charset "UTF-8";

:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serfi;
    --fonte-destaque: 'Bebas Neue', cursive;
}

th.loca{
    border: 0px;

}

thead.abas{
    background-image: none;
}

th.loca{
    border: none; 
    padding-top: 10px; 
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
}

a{
    width: 100px;
    text-decoration: none;
    font-family: bold var(--fonte-padrao);
    display: inline-block;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    align-items: flex-start;
}
a#loc{
    background-color: var(--cor4);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px;
    align-items: flex-start;

}

a#ven{
    background-color: var(--cor1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px;
    align-items: flex-start;
}
h4{
    width: 100px;
    height: 10px;
}
